*{
    margin: 0;

}
header{
    position: fixed;
    background-color: blue;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 19px;
}
#conteiner{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 75px;
}
header h1{
    color: antiquewhite;
}
nav{
    background-color: #007bff;
    width: 150px;
    padding: 20px;
}
main{
    background-color: black;
    flex-grow: 1;
    padding: 20px;
    color: #f4f5f7;
}
footer{
    background-color: #f4f5f7;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
}
footer p{
    color: rgb(45, 55, 87);
    font-size: 1.5rem;
}